<!DOCTYPE html>
<!--
Streamer Map Services: HydroBaseMapForTerrain Leaflet Example
U.S. Geological Survey
Texas Water Science Center, Austin
streamer@usgs.gov
-->
<html>
    <!-- HTML HEAD -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Streamer Map Services: HydroBaseMapForTerrain Leaflet Example</title>
        
        <!-- page styling -->
        <style type="text/css">
            html, body, #map {
                height   : 100%;
                width    : 100%;
                margin   : 0px;
                padding  : 0px;
                overflow : hidden;
            }
        </style>
        
        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    </head>
    
    <!-- HTML BODY -->
    <body>
        <!-- map -->
        <div id="map"></div>
        <script type="text/javascript">
            // create map with ESRI World Terrain Base layer and HydroBaseMapForTerrain layers
            var map = new L.Map( "map", {
                "minZoom" : 4,
                "maxZoom" : 11,
                "layers"  : [
                    L.tileLayer( "https://server.arcgisonline.com/ArcGIS/rest/services/World_Terrain_Base/MapServer/tile/{z}/{y}/{x}" ),
                    L.tileLayer( "https://txgeo.usgs.gov/arcgis/rest/services/Mapping/HydroBaseMapForTerrain/MapServer/tile/{z}/{y}/{x}" )
                ],
                "center"  : new L.LatLng(38,-99),
                "zoom"    : 5,
                "attributionControl" : false
            });
            
            // add scale bar
            L.control.scale().addTo(map);
        </script>
    </body>
    
</html>
