<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title></title>
        
        <!-- ESRI JSAPI and Streamer Trace API 3.14 -->
        <link rel="stylesheet" href="https://js.arcgis.com/3.14/esri/css/esri.css">
        <script src="https://js.arcgis.com/3.14/"></script>
        <script src="https://txpub.usgs.gov/DSS/Streamer/api/3.14/js/trace_api.min.js"></script>
       

        <style type="text/css">
            html, body, #map {
                height: 500%;
                width: 50%;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
            }
        </style>
        
        <script type="text/javascript">
            require( ["esri/map","dojo/domReady!"], function(Map) {
                // create the map             
                var map = new Map("map", {
                    "basemap": "topo",
                    "center": [-99,38],
                    "zoom": 5,
                    "showAttribution": false,
                    "logo": false
                });
                // add the stream trace
                trace_api.on("load", function() {
                    trace_api.addTrace({
                        "map": map,
                        "x": -105,
                        "y": 39.76,
                        "originPoint": "infoHover"
                    });
                });
            });
        </script>
    </head>
    
    <body>
        <!-- the ESRI map -->
        <div id="map"></div>
        <!-- add image -->
        <img src="https://txpub.usgs.gov/DSS/Streamer/api/3.14/images/trace_api_logo.png" style="position:absolute;bottom:0px;right:0px;">
    </body>
    
</html>